:root {
    --themeColor1: lightblue;
    --themeColor2: #f9e1ca;
}

/* Universal Selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Element Selectors */
body {
    background-color: var(--themeColor2);
}

nav {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: var(--border1);
}

/* Class Selectors */
.header {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    border: solid 2px black;
    background-color: var(--themeColor1);
    color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .h1 {
    background-color: inherit;
    font-style: oblique;
}

.header nav {
    border: var(--border1);
    padding-bottom: 0px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.header nav ul {
    background-color: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    background-color: inherit;
    display: inline-block;
    align-items: end;

}

.section-styling {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.section-title {
    display: flex;
    margin-right: 1rem;
    /* width: fit-content; */
    min-width: 40%;
    border-right: solid 2px navy;
}

.section-title h3{
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-content-work {
    display: flex
}

.section-content-work div{
    justify-content: space-around;
}

.section-content-contact {
    display: flex;
}


.section-content-contact ul li {
    list-style-type: none;
    display: inline-block;
    margin-inline: 3rem;
}

/* ID selectors */
.work-img-1 {
    height: 15rem;
    border: solid 2px black
}

#About-Me-Content{
  margin: 1rem;
  line-height: 1.5;  
}

/* Hero Image */
.hero-image {
    border: var(--border2);
    background-image: url("../Photos/marina-hero.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    border: var(--border3);
    position: absolute;
    bottom: 1rem;
    color: white;
    right: 1rem;
}

@media screen and (min-width: 768px) {
    .section-styling {
        flex-direction: row;
    }
    .section-content-work{
        ;
    }
}

/* Images */
.work-img-container{
    position: relative;
    text-align: center;
    padding: 1rem;


}
.work-img-container .img-1-text {
    position: absolute;
    bottom: 5px;
    left: 2px;
    background-color: white;
    border:solid 1px black 
}

.img-2-container {
    padding: 1rem;

}

#work-img-2{
    height: 7.5rem;
    border: solid 2px black

}

.profile-pic {
    border-radius: 50%;
    max-width: 8rem;
    align-items: center;
}