*{
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
}
.header{

}

/* Hero Image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Photos/portfolio\ hero\ image.avif);
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text {
    /* text-align:right; */
    position:relative;
    left: 77%;
    top: 85%;
    color: white;
}